{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base_auth.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    <form  class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% block content %}{% endblock %}
    </form>


    {% block js %}{% endblock %}



    <script>
        if ('{{error}}'){
            alert("{{error}}")
        }
    </script>
</body>
</html>