{% extends 'chat_app/base.html' %}
{% load static %}

{% block title %}
Chat with friend
{% endblock %}


{% block content %}
    
        <div class="info">

            <img src="{{friend.picture.url}}" alt="">
            <p>{{friend.full_name}}</p>
            <div class="status" id="{{friend.id}}"></div>

        </div>


        <div class="chat">

            {% for message in messages %}
            
                {% if message.sender == user %}

                    <div class="box" id="{{message.id}}">
                        <img src="{{message.sender.picture.url}}" alt="">
                        <div class="msg">
                            <small>{{message.date|timesince }}</small>
                            {% if message.text %}
                                <p>{{message.get_dec}}</p>
                            {% endif %}
                            {% if message.image %}
                                <img src="{{message.image.url}}" alt="">
                            {% endif %}
                            {% if message.audio %}
                                <audio controls src="{{message.audio.url}}" ></audio>
                            {% endif %}
                        </div>
                    </div>
                    
                {% else %}
                    
                <div class="box reciver" id="{{message.id}}">
                        <img src="{{message.sender.picture.url}}" alt="">
                        <div class="msg">
                            <small>{{message.date|timesince }}</small>
                            {% if message.text %}
                                <p>{{message.get_dec}}</p>
                            {% endif %}
                            {% if message.image %}
                                <img src="{{message.image.url}}" alt="">
                            {% endif %}
                            {% if message.audio %}
                                <audio controls src="{{message.audio.url}}" ></audio>
                            {% endif %}
                        </div>
                    </div>

                {% endif %}
            
            {% endfor %}
            
    
        </div>



        <div class="send-form">
            {% csrf_token %}
            <input type="text" placeholder="ادخل رسالتك هنا" name="" id="text-msg-input">
            <div class="btns">
                <button type="button" id="send-msg" class="fas fa-paper-plane"></button>
                <button type="button" id="voice-msg" class="fa fa-microphone"></button>
                <button type="button" id="image-btn" class="fas fa-image"></button>
                <input type="file" hidden id="img">
            </div>

        </div>


        <div class="voice-layer">
            <div id="close-voice" class="fas fa-close"></div>
            <button id="start-record" >تسجيل</button>
            <button id="stop-record">توقف</button>
            <div class="list">
            </div>
        </div>


{% endblock %}


{% block js %}



    <script src="{% static 'js/moment.min.js' %}"></script>

    <script>
        

        const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/{{chat.uuid}}/'
        );


        function CreateMessageBody (msg, img, audio) {

            var body;
            
            if (msg){
                body = document.createElement('p');
                body.textContent = msg;
            }
            
            else if (img) {
                body = document.createElement('img');
                body.src = img;
            }
            
            else if (audio) {
                body = document.createElement('audio');
                body.setAttribute('controls','')
                body.setAttribute('src',audio)
            }



            return body;
        }

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            var current_user_pic = "{{user.picture.url}}";
            var current_friend_pic = "{{friend.picture.url}}";


            var sender = data.sender;
            var message = data.message;
            var picture = data.picture;
            var msg_id = data.id;
            var image = data.image;
            var audio = data.audio;
            var date = data.date;
            var date = moment(date).startOf().fromNow();

            console.log(image)

            var MessagBox = document.createElement('div')
            MessagBox.setAttribute('class','box')
            MessagBox.setAttribute('id',`${msg_id}`)

            var UserImg = document.createElement('img') 
            UserImg.setAttribute('src',picture)

            MessagBox.appendChild(UserImg)


            var msg_small_box = document.createElement('div')
            msg_small_box.setAttribute('class','msg')

            var date_element = document.createElement('small');
            date_element.textContent = date

            msg_small_box.appendChild(
                date_element    
            )


            
            var message_ele = CreateMessageBody(message,image, audio);

            msg_small_box.appendChild(
                message_ele
            )

            MessagBox.appendChild(
                msg_small_box
            )

            
            if (sender == "{{friend.full_name}}"){
                MessagBox.classList.add('reciver')
            }


            var chat_messages = document.querySelector('.chat');
            chat_messages.appendChild(MessagBox)


            window.location.href = `#${msg_id}`;
            
        };

        var SendTextMessageBtn = document.getElementById('send-msg');
        var TextMessage = document.getElementById('text-msg-input')

        SendTextMessageBtn.addEventListener('click',()=>{
            var msg = TextMessage.value;
            
            socket.send(JSON.stringify({
                'message': msg
            }));
            
            TextMessage.value = '';
            TextMessage.focus()

        })

        document.getElementById('text-msg-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                SendTextMessageBtn.click()
            }
        };


    </script>

    <!-- return to the latest messaeg -->
    <script>
        var boxes = document.querySelectorAll('.box')
        var last_box_id = boxes[boxes.length - 1 ]
        window.location.href = '#' + last_box_id.id
    </script>

    <!-- send image message -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

        var imgInupt = document.querySelector('#img');
        var ChooseImageBtn = document.querySelector('#image-btn');

        ChooseImageBtn.addEventListener('click',()=>{
            imgInupt.click()
        })

        imgInupt.addEventListener('change',(e)=>{

            var form = new FormData()
            
            var img = e.target.files[0];
            
            var csrf = document.querySelector('.send-form input[name=csrfmiddlewaretoken]').value;

            form.append('image',img)
            form.append('csrfmiddlewaretoken',csrf)

            $.ajax({
                url:"{% url 'send_img' chat.uuid %}",
                type:"POST",
                data:form,
                contentType:false,
                processData:false,
                cache:false,
            })

            // Write Ajax Code here for send image msg
        })

    </script>


    <!-- send voice msg -->
   
    <script>
        
        var VoiceLayer = document.querySelector('.voice-layer')
        var closeVoiceLayer = document.querySelector('#close-voice');
        var OpenVoiceLayer = document.querySelector('#voice-msg');

        OpenVoiceLayer.addEventListener('click',()=>{
            VoiceLayer.classList.add('view')
        })
        
        closeVoiceLayer.addEventListener('click',()=>{
            VoiceLayer.classList.remove('view')
        })

        
        
        
// record audio
var rec_btn = document.getElementById('start-record');
var stop_btn = document.getElementById('stop-record');
var form = document.querySelector('.voice-msg');
var list = document.querySelector('.voice-layer .list');
let chunks = []



var ajax_url = "{% url 'send_audio' chat.uuid %}";

if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia){

    navigator.mediaDevices.getUserMedia({audio:true})
    .then(function(stream){
        const media_recorder = new MediaRecorder(stream);
        
        
        
        rec_btn.onclick = function(){
            console.log(media_recorder.state)
            media_recorder.start();
            rec_btn.style.display = 'none';
            stop_btn.style.display = 'block';
        }
        


        media_recorder.ondataavailable  = function(e){
            chunks.push(e.data)
        }
        
        stop_btn.onclick = function(){
            stop_btn.style.display = 'none';
            rec_btn.style.display = 'block';
            media_recorder.stop();
            // document.getElementById('send-v').classList.add('view')
            
        }
        
        
        media_recorder.onstop = function(e){
            let audio = document.createElement('audio');
            audio.setAttribute('controls','')
            audio.setAttribute('name','voice')
            let blob = new Blob(chunks,{ 'type' : 'audio/ogg; codecs=opus' });
            
            // ajax post
            var Data = new FormData();
            Data.append('audio',blob);
            
            




            chunks = [];
            let ad_url = window.URL.createObjectURL(blob);
            audio.src = ad_url;
            list.innerHTML = '';
            
            let SendRecBtn = document.createElement('button')
            SendRecBtn.textContent = 'ارسال'
            


            list.append(audio);
            list.append(SendRecBtn);
            

            SendRecBtn.addEventListener('click',()=>{
                
                var csrf = document.querySelector('.send-form input[name=csrfmiddlewaretoken]').value;
                
                Data.append('csrfmiddlewaretoken',csrf)

                
                $.ajax({
                    url:ajax_url,
                    type:"POST",
                    data:Data,
                    contentType:false,
                    processData:false,
                    cache:false,
                })


                document.querySelector('.voice-layer').classList.remove('view');
            })
            







        }
        
    })

    .catch(function(error){
        console.log('error',error)
    })
    
    
    
}else {
    alert('There is an error with your browser')
}
    

    </script>


{% endblock %}

