{% extends 'chat_app/base.html' %}

{% block title %}
الصفحة الشخصية
{% endblock %}



{% block content %}



    <form method="GET" class="search">
        <input type="text" placeholder="بحث عن صديق" name="s">
        <button class="fas fa-search" type="submit"></button>
    </form>

    
    <div class="users">


        {% for chat in chats %}
        
            {% for u in chat.users.all %}
                {% if u != user  %}
                    <a class="user" href="{% url 'chat' chat.uuid %}">
                        <img src="{{ u.picture.url }}" alt="">
                        <div class="status {% if u.is_online %}online{% endif %}" id="{{u.id}}"></div>
                        <div class="info">
                            <p class="name">{{ u.full_name }}</p>
                            {% if chat.last_msg %}
                                <p class="last-msg">{{ chat.last_msg }}</p>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        
        {% endfor %}



    </div>

{% endblock %}
