{% extends 'chat_app/base.html' %}

{% block title %}
البحث عن مستخدمين
{% endblock %}



{% block content %}



    <div class="search">
        <input type="text" placeholder="بحث عن مستخدم">
        <button class="fas fa-search"></button>
    </div>

    
    <div class="users">
        
        <!-- <a class="user" href="#">
            <img src="images/default-user.png" alt="">
            <div class="status" id="<userid>"></div>
            <div class="info">
                <p class="name">Radwan Gaber</p>
            </div>
        </a>
        
        <a class="user" href="#">
            <img src="images/default-user.png" alt="">
            <div class="status online" id="<userid>"></div>
            <div class="info">
                <p class="name">Radwan Gaber</p>
                <p class="last-msg">Radawn Gaber : How Are You</p>
            </div>
        </a> -->


    </div>

{% endblock %}
