{% extends 'chat_app/base.html' %}

{% block title %}
البحث عن مستخدمين
{% endblock %}



{% block content %}



    <form method="GET" class="search">
        <input type="text" placeholder="بحث عن مستخدم" name="s">
        <button class="fas fa-search" type="submit"></button>
    </form>

    
    <div class="users">
        
        
        {% for u in users %}
                <a class="user" href="{% url 'create_chat' u.uuid %}">
                    <img src="{{ u.picture.url }}" alt="">
                    <div class="status {% if u.is_online %}online{% endif %}" id="{{u.id}}"></div>
                    <div class="info">
                        <p class="name">{{ u.full_name }}</p>
                    </div>
                </a>
        {% endfor %}
    

    </div>

{% endblock %}
